<div ng-controller="ForgotPasswordController">
    <div class="login-overlay">
        <div class="logo">
            Just <br> <span class="smaller">Mosey</span>
        </div>
        <div class="form-container shadow">
            <div ng-show="CurrentDisplayState == DisplayStates.ENTER_INFORMATION">
                <div class="icon">
                    <i class="mdi mdi-account-circle"></i>
                    <div class="header">
                        Forgot Password
                    </div>
                </div>
                <div class="inputs">
                    <form ng-submit="ResetPassword()" style="display: flex; justify-content: center;">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                            <md-input-container>
                                <input ng-model="email" type="email" placeholder="email">
                            </md-input-container>
                        </div>
                    </form>
                    <form ng-submit="ResetPassword()" style="display: flex; justify-content: center;">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                            <md-input-container>
                                <input ng-model="password" type="password" placeholder="new password">
                            </md-input-container>
                        </div>
                    </form>
                    <form ng-submit="ResetPassword()" style="display: flex; justify-content: center;">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                            <md-input-container>
                                <input ng-model="confirmpassword" type="password" placeholder="confirm new password">
                            </md-input-container>
                        </div>
                    </form>
                    <div class="buttons">
                        <div class="link">
                            <div class="link" style="padding-bottom:0;">
                                <md-button ng-click="ResetPassword()" class="md-raised primary"> Change Password </md-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div  ng-show="CurrentDisplayState == DisplayStates.LOADING">
                <div layout="column" layout-align="center center">
                    <div>
                        <md-progress-circular ng-disabled="!vm.activated" md-diameter="96"></md-progress-circular>
                    </div>
                    <h2>Trying to reset password...</h2>
                </div>
                <br />
                <br />
                <br />
            </div>
            <div ng-show="CurrentDisplayState == DisplayStates.MISSING_CODE">
                <br />
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">
                        <div class="alert alert-danger" role="alert">
                            The link you clicked does not contain all of the neccessary data to reset your password.
                            <br /><br />
                            Please go to your email and click the link again. If that does not work, please copy and paste the link in the bottom of the message into your browser address bar.
                            <br /><br />
                            If all of the above options do not work. Please fill out the "Forgot Password" for again in the app or the CMS portal(Management only).
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="CurrentDisplayState == DisplayStates.SUCCESS">
                <br />
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">
                        <div class="alert alert-success" role="alert">
                            Your password has been reset successfully.
                            <br /><br />
                            Please try logging into the application again.
                            <br /><br />
                            <md-button ui-sref="login" class="md-primary">Management Login</md-button>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
        <footer class="login-footer">
            <div class="left-section">
                &copy; JustMosey
            </div>
        </footer>
    </div>

</div>
