<div ng-controller="RevalidateController">
    <div class="login-overlay">
        <div class="logo">
            Just <br> <span class="smaller">Mosey</span>
        </div>
        <div class="form-container shadow">
            <div layout="column" layout-align="center center">
                <div>
                    <md-progress-circular ng-disabled="!vm.activated" md-diameter="96"></md-progress-circular>
                </div>
                <h2>Determining User Status...</h2>
            </div>
           <br />
           <br />
           <br />
        </div>
        <footer class="login-footer">
            <div class="left-section">
                &copy; JustMosey
            </div>
        </footer>
    </div>

</div>
