<div ng-controller="SendForgotPasswordController">
    <div class="login-overlay">
        <div class="logo">
            Just <br> <span class="smaller">Mosey</span>
        </div>
        <div class="form-container shadow">
            <div ng-show="CurrentDisplayState == DisplayStates.ENTER_INFORMATION">
                <div class="icon">
                    <i class="mdi mdi-account-circle"></i>
                    <div class="header">
                        Forgot Password
                    </div>
                </div>
                <div class="inputs">
                    <form ng-submit="SendForgotPasswordEmail()" style="display: flex; justify-content: center;">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                            <md-input-container>
                                <input ng-model="email" type="email" placeholder="email">
                            </md-input-container>
                        </div>
                    </form>
                    <div class="buttons">
                        <span class="signup">
                            <a ui-sref="login">Back to login</a>
                        </span>
                        <div class="link">
                            <div class="link" style="padding-bottom:0;">
                                <md-button ng-click="SendForgotPasswordEmail()" class="md-raised primary">Send Forgot Password Email</md-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="CurrentDisplayState == DisplayStates.SUCCESS">
                <br />
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">
                        <div class="alert alert-success" role="alert">
                            If the email you entered is valid, an email containing instructions have been sent to your inbox.
                            <br /><br />
                            <md-button ui-sref="login" class="md-primary">Back to login</md-button>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="CurrentDisplayState == DisplayStates.LOADING">
                <div layout="column" layout-align="center center">
                    <div>
                        <md-progress-circular ng-disabled="!vm.activated" md-diameter="96"></md-progress-circular>
                    </div>
                    <h2>Sending email...</h2>
                </div>
                <br />
                <br />
                <br />
            </div>
        </div>
        <footer class="login-footer">
            <div class="left-section">
                &copy; JustMosey
            </div>
        </footer>
    </div>

</div>
